---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <style>
    .PageNavigation {
      font-size: 14px;
      display: block;
      width: auto;
      overflow: hidden;
    }
    .PageNavigation span {
      display: block;
      width: 50%;
      float: left;
      margin: 1em 0;
    }
    .PageNavigation .next {
      text-align: right;
      float: right;
    }
  </style>

  <div class="PageNavigation">
    {% if page.previous.url %}
    <span class="prev">
      Anterior: <a href="{{ page.previous.url | relative_url }}">&laquo; {{page.previous.title}}</a>
    </span>
    {% endif %}
    {% if page.next.url %}
    <span class="next">
      Siguiente: <a href="{{ page.next.url | relative_url }}">{{page.next.title}} &raquo;</a>
    </span>
    {% endif %}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
